# documentation and instructions files
*.pdf
*.docx

# Log file
*.log

# Eclipse files
.project
.classpath

# Temp files
*.tmp

# generated target folders
bin
target

# generated settings file
.settings

# generated dependency reduced pom
dependency-reduced-pom.xml